html {
  padding: 0;
  border-radius: 12px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #0e0e23;
  background: linear-gradient(circle, #070727 100%, #04042b 0%);
}

img {
  width: 100px;
}

.hero {
  background: rgb(0, 2, 16);
  background: radial-gradient(circle, #9b9ca7 rgb(0, 3, 20) 100%, rgb(19, 22, 47) 0%);
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 600px;
}
.hero img {
  opacity: 0.8;
  position: absolute;
  left: 45%;
  top: 15%;
  width: 50%;
  border-radius: 20% 14px 20%;
  filter: brightness(42px);
  filter: grayscale(20%);
  padding: 12px;
  border: 4px double rgba(148, 189, 255, 0.8);
}
.hero .nav-bar {
  display: grid;
  grid-template-columns: 40% auto;
  gap: 12px;
  padding: 12px 24px;
  width: 100%;
  background: rgb(0, 2, 16);
  background: radial-gradient(circle, #9b9ca7 rgb(0, 3, 20) 100%, rgb(19, 22, 47) 0%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 4px 4px #00000e;
}
.hero .nav-bar .logo {
  color: cbcbff;
  color: rgb(127, 23, 23);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  padding: 6px 8px;
  padding-left: 10%;
  margin: 2px 4px;
}
.hero .nav-bar .logo span {
  color: #cbcbff;
  font-size: 1.5rem;
}
.hero .nav-bar .nav-links {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: space-around;
  gap: 2%;
  padding-right: 10%;
}
.hero .nav-bar .nav-links a {
  text-align: center;
  margin: auto 6px;
  text-decoration: none;
  font-weight: 1rem;
  font-family: "Courier New", Courier, monospace;
  color: #cedbf7;
}
.hero .nav-bar .nav-links a:hover {
  color: #cbcbff;
  opacity: 0.8;
}
.hero .description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #cbcbff;
  width: 50%;
  padding: 15% 15% 12px 2%;
}
.hero .description h1 {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 2px;
  margin-bottom: 2px;
  color: rgb(148, 147, 225);
}
.hero .description h3 {
  font-size: 1.2rem;
  color: rgb(199, 8, 8);
  opacity: 0.8;
}
.hero .description span {
  width: 90%;
  font-size: medium;
  text-align: start;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.hero .description .cta {
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  color: white;
  padding: auto 12px;
}
.hero .description .cta a {
  margin: auto;
  text-decoration: none;
  color: #cbcbff;
  padding: 12px 6px;
  border-radius: 6px;
  border: 2px solid blueviolet;
}
.hero .description .cta a:nth-child(1) {
  border: 1px ridge white;
  padding: 12px 12px;
}
.hero .description .cta a:hover {
  opacity: 0.7;
}

.about {
  background: rgba(15, 15, 15, 0.9411764706);
  opacity: 0.8;
  display: grid;
  grid-template-columns: 49% auto;
  gap: 12%;
  padding: 5% 10%;
}
.about .img {
  min-width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 12px;
}
.about .img img {
  max-width: 96%;
  width: auto;
  height: auto;
  margin: auto;
  filter: opacity(50%);
  aspect-ratio: 4/3;
  border-radius: 12px;
  -o-object-position: center;
     object-position: center;
}
.about .desc {
  color: white;
  display: flex;
  flex-direction: column;
}
.about .desc h2 {
  margin-bottom: 4px;
}
.about .desc h2 span {
  color: blueviolet;
}
.about .desc h4 {
  color: rgb(205, 12, 12);
  border-radius: 12px;
}
.about .desc a {
  padding: 6px 14px;
  background-color: #cedbf7;
  color: black;
  width: -moz-max-content;
  width: max-content;
  margin-top: 15%;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.2rem;
  border-radius: 8px;
}
.about .desc a:hover {
  opacity: 0.7;
}

.services {
  margin: 0;
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: space-evenly;
  color: white;
  padding: 12px 5rem;
}
.services h1 {
  position: absolute;
  margin: 24px;
  color: white;
  text-align: center;
  left: 45%;
}
.services div {
  margin: 10% 12px 12px 12px;
  background-color: rgba(49, 46, 39, 0.887);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 12px;
  padding: 12px;
  border-radius: 6px;
  max-width: 300px;
}
.services div img {
  width: 60px;
  height: 60px;
  align-self: center;
  border-radius: 50%;
  padding: 2px;
  -o-object-fit: fill;
     object-fit: fill;
  border: 2px double black;
}
.services div h5 {
  color: red;
  margin: 4px auto;
}
.services div span {
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.services div a {
  text-decoration: none;
  color: #cedbf7;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: black;
  border: 1px solid rgba(192, 192, 192, 0.3);
  width: -moz-max-content;
  width: max-content;
}
.services div a:hover {
  opacity: 0.8;
}

.skills {
  background: rgba(15, 15, 15, 0.9411764706);
  display: grid;
  grid-template-columns: 50% auto;
  gap: 12px;
}
.skills .frameworks h2,
.skills .languages h2 {
  color: #9b9ca7;
}
.skills .frameworks div,
.skills .languages div {
  color: #9b9ca7;
  text-align: start;
  gap: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 12px;
  align-content: flex-start;
}
.skills .frameworks div h4,
.skills .languages div h4 {
  margin: auto 2px;
}
.skills .frameworks div img,
.skills .languages div img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 12px;
}
.skills .frameworks div span,
.skills .languages div span {
  text-align: center;
  margin: auto 2px;
  color: rgba(209, 133, 13, 0.8);
}

footer {
  margin: 0;
  background-color: #00000e;
  padding: 1rem 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: space-between;
  gap: 12px;
  color: #cbcbff;
}
footer .socials {
  width: -moz-max-content;
  width: max-content;
  margin: 12px 15px;
}
footer .socials span {
  display: block;
  margin-top: 12px;
}
footer .socials h4 {
  color: #cedbf7;
  font-style: italic;
  font-weight: 900;
  font-size: 1.3rem;
}
footer .socials img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 2px;
  border: 1px double #cbcbff;
  border-radius: 50%;
}
footer .certification {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
footer .certification span {
  display: block;
  margin: 12px;
}
footer .license {
  color: burlywood;
  display: block;
  width: 100%;
}/*# sourceMappingURL=style.css.map */