$bg-color: #070727;
$body-color: hwb(238 2% 86%);
$header-bg: #0e0e23;




html {
    padding: 0;
    border-radius: 12px;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #0e0e23;
    background: linear-gradient(circle,
            $bg-color 100%,
            #04042b 0%);
}



.hero {
    background: rgb(0, 2, 16);
    background: radial-gradient(circle, #9b9ca7 rgb(0, 3, 20) 100%,
            rgba(19, 22, 47, 1) 0%);
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 600px;




    img {
        opacity: .8;
        position: absolute;
        left: 50%;
        top: 15%;
        width: 45%;
        border-radius: 20% 14px 20%;
        filter: brightness(42px);
        filter: grayscale(20%);
        padding: 12px;
        border: 4px double rgba(148, 189, 255, .8);
        animation-name: image-left;
        animation-duration: 1.5s;
        transition: all 1.5s;
        animation-iteration-count: 1;


    }

    .nav-bar {
        display: grid;
        grid-template-columns: 40% auto;
        gap: 12px;
        padding: 12px 24px;
        background: rgb(0, 2, 16);
        background: radial-gradient(circle, #9b9ca7 rgb(0, 3, 20) 100%,
                rgba(19, 22, 47, 1) 0%);
        position: sticky;
        top: 0;
        left: 0;
        z-index: 2;
        box-shadow: 0 4px 4px #00000e;

        .logo {
            color: cbcbff;
            color: rgb(127, 23, 23);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.8rem;
            font-weight: 900;
            padding: 6px 8px;
            padding-left: 10%;
            margin: 2px 4px;

            span {
                color: #cbcbff;
                font-size: 1.5rem;

            }
        }

        .nav-links {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            align-content: space-around;
            gap: 2%;
            padding-right: 10%;


            a {
                text-align: center;
                margin: auto 6px;
                text-decoration: none;
                font-weight: 1rem;
                font-family: 'Courier New', Courier, monospace;
                color: #cedbf7;

                &:hover {
                    color: #cbcbff;
                    opacity: .8;
                }
            }
        }
    }

    .description {
        display: flex;
        //position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        color: #cbcbff;
        width: 50%;
        padding: 10% 15% 12px 2%;
        background-color: #00000e57;

        h1 {
            font-size: 2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-bottom: 2px;
            margin-bottom: 2px;
            color: rgb(148, 147, 225);
            animation-name: float-in-top;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            animation-fill-mode: backwards;
        }

        h3 {
            font-size: 1.2rem;
            color: rgb(199, 8, 8);
            opacity: .8;
            animation-name: float-in-left;
            animation-duration: 1.5s;
            animation-iteration-count: 1;
        }

        span {
            width: 90%;
            font-size: medium;
            text-align: start;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            animation-name: float-in-low;
            animation-duration: 2s;
            animation-iteration-count: 1;
            transition: all 2s;
        }

        .cta {
            margin-top: 8%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 80%;
            color: white;
            align-content: flex-start;
            padding: auto 6px;


            a {
                margin: auto 12px;
                text-decoration: none;
                color: #cbcbff;
                padding: 12px 16px;
                border-radius: 6px;
                border: 2px solid blueviolet;
                animation-name: cta;
                animation-duration: 2s;
                animation-iteration-count: 2s;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }

}

.about {
    background: #0f0f0ff0;
    opacity: .8;
    display: grid;
    grid-template-columns: 49% auto;
    gap: 12%;

    padding: 5% 10%;

    .img {
        min-width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-content: center;
        border-radius: 12px;
        animation-name: float-in-left;
        animation-duration: 1.5s;
        animation-iteration-count: 1;

        img {
            max-width: 96%;
            width: auto;
            height: auto;
            margin: auto;
            filter: opacity(50%);
            aspect-ratio: 4/3;
            border-radius: 12px;
            object-position: center;
        }

    }

    .desc {
        color: white;
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 4px;
            animation-name: float-in-top;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            animation-fill-mode: backwards;

            span {
                color: blueviolet;
            }
        }

        h4 {
            color: rgb(205, 12, 12);
            border-radius: 12px;
            animation-name: float-in-low;
            animation-duration: 2s;
            animation-iteration-count: 1;
            transition: all 2s;
        }

        a {
            padding: 6px 14px;
            background-color: #cedbf7;
            color: black;
            width: max-content;
            margin-top: 5%;
            text-decoration: none;
            font-weight: 800;
            font-size: 1.2rem;
            border-radius: 8px;
            animation-name: cta;
            animation-duration: 2s;
            animation-iteration-count: 2s;

            &:hover {
                opacity: .7;
            }
        }
    }
}

.services {
    margin: 0;
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: space-evenly;
    color: white;
    padding: 12px 5rem;

    h1 {
        position: absolute;
        margin: 24px;
        color: white;
        text-align: center;
        left: 45%;
    }

    div {

        margin: 10% 12px 12px 12px;
        background-color: rgba(49, 46, 39, 0.887);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 12px;
        padding: 12px;
        border-radius: 6px;
        max-width: 300px;

        &:hover{
            animation-name: cards;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }


        img {
            width: 60px;
            height: 60px;
            align-self: center;
            border-radius: 50%;
            padding: 2px;
            object-fit: fill;
            border: 2px double black;

        }

        h5 {
            color: red;
            margin: 4px auto;
        }

        span {
            max-height: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        a {
            text-decoration: none;
            color: #cedbf7;
            padding: 8px 12px;
            border-radius: 4px;
            background-color: black;
            border: 1px solid rgba(192, 192, 192, .3);
            width: max-content;

            &:hover {
                opacity: .8;
            }
        }
    }
}

.skills {
    background: #0f0f0ff0;
    display: grid;
    grid-template-columns: 50% auto;
    gap: 12px;
    padding: 10px 10%;

    .frameworks,
    .languages {
        h2 {
            color: #9b9ca7;
        }

        div {
            color: #9b9ca7;
            text-align: start;
            gap: 12px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin: 12px;
            align-content: flex-start;

            h4 {
                margin: auto 2px;
            }

            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                margin-right: 12px;
            }

            span {
                text-align: center;
                margin: auto 2px;
                color: rgba(209, 133, 13, 0.8);
            }
        }
    }

}

footer {
    margin: 0;
    background-color: #00000e;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: space-between;
    gap: 12px;
    color: #cbcbff;

    .socials {
        width: max-content;
        margin: 12px 15px;

        span {
            display: block;
            margin-top: 12px;
        }

        h4 {
            color: #cedbf7;
            font-style: italic;
            font-weight: 900;
            font-size: 1.3rem;

        }

        a {
            margin: 12px;

            img {
                width: 1.5rem;
                height: 1.5rem;
                padding: 2px;
                border: 1px double #cbcbff;
                border-radius: 50%;

            }
        }
    }

    .certification {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        span {
            display: block;
            margin: 12px;
        }
    }

    .license {
        color: burlywood;
        display: block;
        width: 100%;
    }

}



//key frames

@keyframes float-in-top {
    0% {
        opacity: 0;
        transform: translateY(-42px);
        transform: perspective(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float-in-low {
    0% {
        opacity: 0;
        transform: translateY(42px);
        transform: perspective(10%);
        color: rgb(30, 85, 180);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float-in-left {

    0% {
        opacity: 0;
        transform: translateX(-12px);
        font-size: 0;
        transform: skew(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes image-left {
    0% {
        left: 25%;
        opacity: .2;
        transform: perspective(10%);
        border-radius: 12px;
    }

    25% {
        border-radius: 20% 12px 2px;
    }

    50% {
        border-radius: 2px 25% 12px;
    }

    70% {
        filter: blur(2px);
        border-color: white;
    }

    100% {
        left: 50%;
    }
}

@keyframes cta {
    0% {
        transform: translateY(-44px);
        opacity: .2;
        transform: perspective(10%);
        border-radius: 12px;
    }

    25% {
        border-radius: 20% 12px 2px;
    }

    50% {
        border-radius: 2px 25% 12px;
    }

    70% {
        filter: blur(2px);
        transform: translateY(-24);
        border-color: white;
    }

    100% {
        transform: none;
    }
}

@keyframes cards {
    0% {
        transform: scale(1);
        opacity: .5;
    }

    100% {
        box-shadow: 0 12px 14px #00000e57;
        transform: translateY(12px);
        transform: scale(1.1);
    }
}











@media screen and (max-width:700px) {

    .hero {
        img {
            top: 20%;
            left: 25%;

            border-radius: 10%;
        }

        .nav-bar {
            .nav-links {
                a {
                    display: none;
                }

                a:last-of-type {
                    display: flex;
                    border: 1px solid white;
                }
            }
        }

        .description {
            margin-top: 45%;
            align-self: center;
            width: auto;
            padding-left: 12%;
        }
    }

    .about {
        display: grid;
        grid-template-columns: 100%;
        gap: 12%;
    }

    .services {
        padding: 1rem;

        h1 {
            left: 30%;
        }

        div {
            margin: 20% 12px 12px 12px;
        }
    }

    .skills {
        display: grid;
        grid-template-columns: 100%;
        gap: 12px;

        .frameworks,
        .languages {
            h2 {
                text-align: center;
            }
        }
    }
}